{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}
<section class="container-fluid p-1" style="background-color: rgb(5, 5, 59);">
    <div class="sidebar_section">
        <header><i>Welcome</i></header>
        <ul>
            <li><a href="/Frontend/templates/account.html"><i class ="fas fa-user"> Account</i></a></li>
            <li><a href="/Frontend/templates/mylist.html"><i class ="fa fa-list" > My List</i></a></li>
            <li><a href="#"><i class="fas fa-play"> Watching</i></a></li>
            <li><a href="/Frontend/templates/newreleases.html"><i class="fas fa-box-open"> New Releases</i></a></li>
            <li><a href="/Frontend/templates/rented.html"><i class ="fas fa-download"> Rented</i></a></li>
            <li><a href="#"><i class ="fas fa-cog"> Settings</i></a></li>
            <li><a href="#"><i class="fa fa-sign-out" > Logout</i></a></li>
        </ul>
    </div>
    
    <div class="homepage_content">
        <div class="show_section_top">
            <a href="#" class="logo">BLOCKBUSTER ROOM 1000</a>
            <p class="welcome">Welcome, Darkdev</p>
            <a href="#" class="Profile-icon">Icon</a>
        </div>
        <div class="ms-4 col-xl-11">
            {% include 'partials/_alerts.html' %}
            <div class="background">
                <div class="background-content">
                    <h1 class="display-3">The Witcher</h1>
                    <p>Season 2</p>
                    <div class="star">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-dark"></i>
                    </div>
                    <h6>Crime | Mystery | Drama</h6>
                    <button class="btn"><i class="fa fa-play"></i></button>
                    <button class="btn"><i class="fa fa-plus"></i></button>
                    <button class="btn"><i class="fas fa-download"></i></button>
                    <div class="row w-100 no-gutters mt-3">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                            <div>
                                <img src="..." width="200" alt="...">
                                <img src="..." width="200" alt="...">
                                <img src="..." width="200" alt="...">
                            </div>
                        </div>
                    </div>
                    <p class="w-50 text-muted text-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quidem exercitationem ratione quia quod, odit deleniti voluptatibus accusamus incidunt temporibus. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row movie-section g-3">
                <p class="movie_section_title">New releases</p>
                {% for fnmovie in fnmovies %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="fmovie_style">
                        <img src="{{fnmovie.image.url}}" style="width: 10rem;" class="card-img-top" alt="{{fnmovie.title}}">
                    </div>
                </div>
                {% endfor %}
               
            </div>

            <div class="row movie-section g-3">
                <p class="movie_section_title">Currently Watching</p>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>

            <div class="row movie-section g-3">
                <p class="movie_section_title">Foriegn releases</p>
                {% for  fmovie in fmovies %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div style="width: 10rem;">
                            <img src="{{fmovie.image.url}}" class="card-img-top" alt="{{fmovie.title}}">
                        </div>                    
                    </div>
                {% endfor %}
            </div>

            <div class="row movie-section g-3">
                <p class="movie_section_title">local releases</p>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                    
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div style="width: 10rem;">
                        <img src="/Frontend/images/img3.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>

{% endblock %}